{% extends 'base.html' %} {% block title %}
<title>Django - Tailwind Todo App</title>
{% endblock title %} {% block content %}


  <!-- this is the card head -->
  <div
    class="px-10 py-4 shadow-md bg-gradient-to-r from-cyan-500 to-green-500 dark:bg-gradient-to-r from-cyan-600 to-green-600 mb-5 flex items-center justify-between"
  >
    <div>
      <h1 class="font-bold text-xl">Hello {{ request.user.username }}</h1>
      <h2 class="font-semibold text-md">{% now "jS F Y" %}</h2>
    </div>
    <div>
        <a href="{% url 'todoApp:logout' %}" class="font-medium">Logout</a>
    </div>
  </div>

  <!-- this the list container -->
  <div class="bg-gray-200 rounded-lg py-5 shadow-lg dark:bg-slate-700">
    <!-- lists container -->
    <div class="">
      <!-- list items go here | This is where you use the for loop -->
      {% for item in all_items %}
        {% include 'todoApp/includes/item.html' %}
      {% endfor %}

      <!-- add task form container -->
      <div class="px-10">
        <form
          action="{% url 'todoApp:add-item' %}"
          class="relative pt-3"
          method="post"
        >
          {% csrf_token %}
            <input type="hidden" value="{{ request.user.id }}" name="targetId" id="targetId">
          <input
            class="w-full py-3 mb-4 inline-block rounded-lg bg-slate-600 focus:outline-0 font-semibold"
            type="text"
            name="taskInput"
            id="taskInput"
            placeholder="Your task here"
            autocomplete="off"
            required
          />
          <button
            class="absolute w-full flex justify-center items-center bg-green-600 hover:bg-green-500 transition delay-100 px-5 py-2 rounded-full font-semibold shadow-green-800 shadow-md hover:shadow-lg hover:shadow-green-800"
            type="submit"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-2"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                clip-rule="evenodd"
              />
            </svg>
            New Task
          </button>
        </form>
      </div>
      <!-- end div -->
    </div>
  </div>

{% endblock content %}
