{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		{% block title %}{% endblock title %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-100 dark:bg-slate-800 leading-normal tracking-normal text-gray-800 dark:text-gray-200">
		<div class="px-10 py-16">
			{% block home %}{% endblock home %}
		</div>
		
		
		<!-- <footer class="bg-gray-300 px-10 py-5">
			<h4>Made by Mike Jerrson Galindez</h4>
		</footer> -->
	</body>
</html>
